<!DOCTYPE html>
<html ng-app="myToDoApp">

<head>
    <meta charset="utf-8">
    <title>My shopping list</title>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1.0">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script> -->
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css" type="text/css">
    <script type="text/javascript" src="cordova.js"></script>
    <script src="angular.min.js"></script>    
    <script src="angular-animate.js"></script>
    <script src="angular-contenteditable.js"></script>
    <script src="ngStorage.js"></script>
    
</head>

<body ng-controller="myToDoAppController">
    <!-- <div class="gwd-div-bkij" id="background"></div> -->
    <!-- <div class="gwd-div-1stp" id="phone"> -->
    <div class="gwd-div-1vyq" id="title">
        My Shopping List
    </div>
    <img src="icon_x.png" class="titleIcon" ng-click="toggleMenu()">
    <div id="sliding-menu" class="sliding-menu" ng-if="showMenu">
        <div id="top-spacer" class="menu-item" style="margin-bottom: 30px;">
            <!-- leave empty -->
        </div>
        <div id="reset-list" class="menu-item" ng-click="resetList()">
            <img width="36" src="assets/icons/ic_autorenew_white_36px.svg" style="margin-top:6px;">
        </div>
        <div id="delete-list" class="menu-item" ng-click="deleteList()">
            <img width="36" src="assets/icons/ic_delete_forever_white_36px.svg" style="margin-top:6px;">
        </div>

        <!-- <a id="logo" href="#" onClick="openURL('https://cristianbara.github.io')" class="logo-link">
        </a> -->
    </div>

    <div class="gwd-div-1n6y" id="body">
        <div ng-repeat="item in model" class="gwd-div-1g9m animate-list">
            <div ng-switch="item.done">                
                <div class="gwd-div-text" style="" contenteditable="true" ng-model="item.text" strip-br="true" strip-tags="true" select-non-editable="false" ng-class="{done: item.done == true}">
                    <!-- {{item.text}} -->
                </div>
                <div class="gwd-div-pjjz check" ng-switch-when="false" ng-click="markAsDone(item)"></div>
                <div class="gwd-div-pjjz cross done-btn" ng-switch-when="true" ng-click="removeToDo(item)"></div>
                <div class="gwd-div-pjjz-r" ng-switch-when="true" ng-click="markUndone(item)">
                    
                    <svg fill="#388136" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg" style="margin-top:8px;">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z"/>
</svg>
                                        
                </div>
            </div>
        </div>
    </div>
    <div class="gwd-div-cb5l" id="button" ng-click="addToDo()">
        <img class="action-icon" width="42" src="assets/icons/ic_add_white_48px.svg" style="margin-top: 6px;">
    </div>
    <div class="gwd-div-cb5l1" id="button" ng-click="orderModel()" ng-show="false">
        
    </div>
    <!-- </div> -->

</body>
<script src="app.js"></script>
</html>